/* ====== BASE ====== */

html { 
  box-sizing: border-box; 
}
*, 
*:before, 
*:after { 
  box-sizing: inherit; 
}

html {
  font-family: 'IBM Plex Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
  font-size: 100%;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  color: #333333;
}

html,
body {
  margin: 0;
}

header, 
main, 
footer, 
section, 
article {
  display: block;
}

/* Set Image and Objects to have a max-width of 100% */
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

a {
  color: inherit;
}

/* ====== MAIN ====== */

.container {
  padding-left: 18px;
  padding-right: 18px;
}

.header__logo {
  font-weight: 500;
}

.main_title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
}

.links {
  padding: 0;

  font-size: 24px;
  letter-spacing: 0.05em;

  list-style: none;

}