html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #102733;
  background: radial-gradient(circle, #58215E, #102733);
}

/* Grid */

.container {
  display: table;
  vertical-align: middle;
  min-width: 18rem;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  min-height: 28vh;
}

@media screen and (min-width: 20rem) {
  .container {
    max-width: 22rem;
  }
}

/*
.main-header_temp {
  min-height: 33%;
  padding: 1em;
  margin-bottom: 1em;
}

.main-logo-container_temp {
  min-height: 33%;
  margin-bottom: 1em;
}
*/

.logo_temp{
  display: block;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.main-bio_temp {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 1em;
}

.main-links_temp {
  padding: 0 2em;
}

/* Typography */

body {
  color: #FFF9F3;
  font-size: 100%;
  font-family: monospace;
}

.main-header_temp {
  text-align: center;
}

.navigation {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
}

.navigation li {
  display: inline-block;
}

a {
  color: #FFF9F3;
}