// colors
$color-main:                #6E203D;

$color-light:               #FFFEFD;

$text-color-black:          #232332;
$text-color-gray:           #8F8F95;

// font-family
$text-main:                 'IBM Plex Sans', Roboto, Verdana, sans-serif;
$text-content:              'IBM Plex Sans', Roboto, Verdana, sans-serif;
$text-display:              Rubik, 'Franklin Gothic Medium', Verdana, sans-serif;
$text-ui:                   'IBM Plex Mono', 'Courier New', Courier, monospace;
$text-icon:                 mvs-icon;
//TODO
//fix FOUT

// font-weight:
$extralight-weight:         200;
$light-weight:              300;
$regular-weight:            400;
$medium-weight:             500;
$bold-weight:               700;

// breakpoints
$mobile:                    400px;
$phablet:                   552px;
$tablet:                    750px;
$desktop:                   1000px;
$desktophd:                 1200px;
$full:                      1500px;
$fullhd:                    2000px;


// transition
$mouse-in:                  0.2s ease-in-out;
$mouse-out:                 0.3s ease-in-out;
$navbar-scroll:             0.6s ease-in-out;
$btnbar-scroll:             0.8s ease-in-out;
$reveal-onscroll:           2s ease-in-out;
$btn-hover:                 0.2s ease-out;

// z-index:
$z-popup:                   1000;
$z-overlay:                 100;
$z-bar:                     10;
$z-base:                    1;