// colors
$main-color:                #6E203D;

$color-light:               #FFFEFD;

$text-color:                #232332;
$text-color-gray:           #8F8F95;

// font-family
$main-family:               'IBM Plex Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;

// font-size
$font-size:                 1rem;

// font-weight:
$extralight-weight:         200;
$light-weight:              300;
$regular-weight:            400;
$medium-weight:             500;
$bold-weight:               700;

// breakpoints
$mobile:                    400px;
$phablet:                   550px;
$tablet:                    750px;
$desktop:                   1000px;
$desktophd:                 1200px;


// transition
$mouse-in:                  0.25s ease-out;
$mouse-out:                 0.4s ease-in-out;