html, body {
  height: 100%;
  min-width: 17.5em;
  font-family: $text-main; 
}

@media (min-width: $tablet) {
  html { 
    font-size: calc(100% + 1.6 * ((100vw - 750px) / 250));
  }
}
@media (min-width: $desktop) {
  html { 
    font-size: calc(110% + 8.8 * ((100vw - 1000px) / 1000));
  }
}
@media (min-width: $fullhd) {
  html { 
    font-size: 165%;
  }
}
