.o-btn {
  position: relative;
  display: inline-block;
  padding: 0.5em 0.75em;

  font-family: $text-ui; 
  font-weight: $regular-weight;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.05em;

  text-decoration: none;
  cursor: url('../img/cursor/btn.svg') 0 34, auto;

  color: $color-main;
  border: 1px solid $text-color-gray;
  background-color: $color-light;
  background-image: url("../img/bg-noise-300x300.png");
  border-radius: 0.2em;
  box-shadow: 3px 3px 0 0 $text-color-black;

  transition: all $btn-hover;
  will-change: transform, box-shadow, text-shadow, border, color, background-color;
    
  &:hover,
  &:focus {
    transform: translateY(1px);
    box-shadow: 2px 2px 0 0 $text-color-black;
  }

  &:active {
    transform: translateY(2px);
    color: $color-light;
    border: 1px solid $color-main;
    background-color: $color-main;
    background-image: none;
    box-shadow: 1px 1px 0 0 $text-color-black;
    text-shadow: -0.5px -0.5px 1px $text-color-black;
  }
}