.o-link {
  text-decoration: none;
  white-space: nowrap;

  color: $text-color-black;    
  border-bottom: 1px solid $text-color-black;
  @supports (border-block-end: 1px solid white) {
    border-bottom: none;
    border-block-end: 1px solid $text-color-black;
  }

  text-shadow:
    0.5px 0.5px $color-light,
    1px 1px $color-light,
    1.5px 1.5px $color-light;
    // 1px -1px $color-light,
    // -1px 1px $color-light,
    // -1px -1px $color-light;

  transition: 
    color $mouse-out, 
    border $mouse-out;
  will-change: color, border;
    
  &:hover,
  &:focus {
    color: $color-main;
    border-bottom: 4px solid $color-main;
    @supports (border-block-end: 1px solid white) {
      border-bottom: none;
      border-block-end: 4px solid $color-main;
    }
    transition: 
      color $mouse-in, 
      border $mouse-in;
  }

  &.--external::after,
  &.--email:before {
    font-family: $text-icon;
    font-style: normal;
    font-weight: normal;
    speak: none;
    opacity: .8;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    writing-mode: inherit;
  }

  &.--external::after {
    content: "\e800";
    margin-inline-start: .1em;
  }
  &.--email::before {
    content: "\e802";
    margin-inline-end: .1em;
  }
}