.o-link {
  text-decoration: none;

  color: $text-color-black;    
  border-bottom: 1px solid $text-color-black;
  @supports (border-block-end: 1px solid white) {
    border-bottom: none;
    border-block-end: 1px solid $text-color-black;
  }

  text-shadow:
    0.5px 0.5px $color-light,
    1px 1px $color-light,
    1.5px 1.5px $color-light;
    // 1px -1px $color-light,
    // -1px 1px $color-light,
    // -1px -1px $color-light;

  transition: 
    color $mouse-out, 
    border $mouse-out;
    
  &:hover,
  &:focus {
    color: $color-main;
    border-bottom: 4px solid $color-main;
    @supports (border-block-end: 1px solid white) {
      border-bottom: none;
      border-block-end: 4px solid $color-main;
    }
    transition: 
      color $mouse-in, 
      border $mouse-in;
  }
}