.o-link {
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: 0.03em;

  text-decoration: none;

  color: $text-color-gray;    
  border-bottom: 1px solid $text-color-gray;
  @supports (border-block-end: 1px solid white) {
    border-bottom: none;
    border-block-end: 1px solid $text-color-gray;
  }

  text-shadow:
    1px 1px $color-light,
    1px -1px $color-light,
    -1px 1px $color-light,
    -1px -1px $color-light;

  transition: 
    color 0.4s ease-in-out, 
    border 0.4s ease-in-out;
    
  &:hover,
  &:focus {
    color: $main-color;
    border-bottom: 1px solid $main-color;
    @supports (border-block-end: 1px solid white) {
      border-bottom: none;
      border-block-end: 1px solid $main-color;
    }
    transition: 
      color 0.25s ease-out, 
      border 0.25s ease-out;
  }
}