.o-btn {
  display: inline-block;
  padding: 0.5em 0.75em;

  font-weight: $medium-weight;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.05em;

  text-decoration: none;

  color: $main-color;
  border: 1px solid $text-color-gray;
  border-radius: 2.25em;

  transition: 
    color 0.5s ease-in, 
    border 0.5s ease-in;
    
  &:hover,
  &:focus {
    color: $main-color;
    border-bottom: 1px solid $main-color;
    transition: 
      color 0.5s ease-in, 
      border-bottom 0.5s ease-in;
  }

}