.mainpage {
  min-width: 17.5em;
  font-family: $text-main; 
  background: $color-light url("../img/bg-noise-300x300.png") repeat;

  &__cover {
    padding-top: 1.2rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    min-height: 100%;

    @media (min-width: $tablet) {
      min-height: $phablet;
      padding-left: 1.25rem;
    }

    @media (min-width: $desktop) {
      min-height: $phablet;
      padding-left: 0.25rem;
      padding-right: 0.5rem;
    }

    @media (min-width: $desktop) and (orientation: landscape) {
      min-height: 100%;
      width: 65%;
    }

    @media (min-width: $desktophd) and (orientation: landscape) {
      width: 46.55rem;
    }
  }


  &__title {
    .js & {  
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 1.2rem;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      padding-bottom: 1.25rem;
      transition: top $mouse-out;
      z-index: $z-bar;
      background: $color-light url("../img/bg-noise-300x300.png") repeat;

      & .is-collapsed {top: -3.5rem;}

      @media (min-width: $tablet) {
        padding-left: 1.25rem;
      }

      @media (min-width: $desktop) {
        padding-left: 0.25rem;
        padding-right: 0.5rem;
      }
    }
  }

  &__navbar {
    .js & {
      position: fixed;
      right: 0em;
      top: 0;
      height: auto;
      padding-top: 1.25rem;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      transition: right $mouse-out;
      z-index: $z-bar;

      & .is-collapsed {right: -6.75em;}

      @media (min-width: $mobile) and (min-height: $tablet) {
        height: auto;

        & .is-collapsed {height: 0;}
      }
      @media (min-width: $tablet) {
        height: auto;

        & .is-collapsed {height: 0;}
      }

      @media (min-width: $desktop) and (orientation: landscape) {
        height: auto;
        right: 35%;

        & .is-collapsed {right: calc(35% - 6.75em);}
      }

      @media (min-width: $desktophd) and (orientation: landscape) {
        right: calc(100% - 46.55rem);

        & .is-collapsed {right: calc(100% - 53.3rem);}
      }
    }
  }

  &__contacts {
    .js & {
      position: fixed;
      bottom: 0;
      z-index: $z-bar;

      & .is-collapsed {bottom: -16rem}
    }
  }


  &__portrait {
    padding-left: 0.7rem;
    padding-bottom: 2.4rem;
  
    @media (min-width: $phablet) {
      padding-left: 1.75rem;
    }
  
    @media (min-width: $desktop) and (orientation: landscape) {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 35%;
      padding: 0;
      z-index: $z-overlay;
    }

    @media (min-width: $desktophd) and (orientation: landscape) {
      width: calc(100% - 46.55rem);
    }
  }


  &__about {
    padding-top: 2.4rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 3.2rem;
  }
}