.cover {
  min-height: 100%;
  padding-top: 1.2em;
  padding-left: 1.2em;
  padding-right: 0.4em;

  background: $color-light url("../img/bg-noise-300x300.png") repeat;
  overflow: hidden;

  font-family: $main-family; 


  &__title {
    grid-area: title;
    margin-bottom: 1.25em;
  }

  &__lang {
    grid-area: lang;
  }

  &__slogan {
    min-width: 0;
    grid-area: slogan;
    margin-bottom: 0.25em;
    padding-right: 1rem;
  }

  &__nav {
    &bar {
      grid-area: navigation;
      margin-bottom: 1em;
    }

    &list {
      padding: 0;
      margin: 0;
      list-style: none;
    
      display: flex;
      align-self: start;
    }
  
    &item {
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 0.5em;
    }
  }

  &__contacts {
    grid-area: contacts;
    padding: 0;
    margin-bottom: 2em;
    list-style: none;

    &link {
      display: inline-block;
      margin-left: 0;
      margin-right: 1em;
      margin-top: 0em;
      margin-bottom: 1em;
    }
  }

  @supports (display: grid) {
    display: grid;
    grid: "title lang" 2.625em
          "slogan navigation" auto
          "contacts logo" 7.5em
          / auto 2em;
    grid-gap: 0 0;

    &__nav {
      &list {
        transform: rotate(90deg);
        @supports (writing-mode: vertical-rl) {
          transform: none;
          writing-mode: vertical-rl
        }
      }

      &item {
        margin-right: 0;
        margin-bottom: 1em;
        margin-left: 0.1em;
      }
    }

    &__contacts {
      align-self: start;
      margin-bottom: 3.25em;
    }

    &__logo {
      grid-area: logo;
      padding: 1.2em 0;
    }
  }
}