.cover {
  position: relative;
  min-height: 100%;
  padding-top: 1.2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  font-family: $text-main; 

  @supports (display: grid) {
    display: grid;
    grid: "title navigation" 2.625em
          "slogan navigation" auto
          "contacts lang" min-content
          / auto max-content;
    grid-gap: 0 0.75rem;
  }

  @media (min-width: $tablet) {
    min-height: $phablet;
    padding-left: 1.25rem;
  }

  @media (min-width: $desktop) {
    min-height: 100%;
    width: 65%;
    padding-left: 0.25rem;
    padding-right: 0.5rem;
  }

  &__title {
    grid-area: title;
    margin-bottom: 1.25em;
    margin-left: 0.45em;
  }

  &__slogan {
    grid-area: slogan;
    min-width: 0; // fixes grid overflow
    margin-bottom: 0.25em;
    margin-left: 0.2rem;
    
    @media (min-width: $mobile) and (min-height: $tablet) {
      align-self: end;
      min-height: 80%;
    }

    @media (min-width: $tablet  ) {
      align-self: end;
      min-height: 70%;
    }
  }

  &__navbar {
    grid-area: navigation;
    justify-self: end;
    margin-top: 0;
    margin-bottom: 1em;
  }

  &__contacts {
    grid-area: contacts;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2em;
    list-style: none;

    @supports (display: grid) {
      align-self: start;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }

    &link {
      display: inline-block;
      margin-left: 0.45em;
      margin-right: 0.45em;
      margin-top: 0em;
      margin-bottom: 1.2em;
    }
  }

  &__lang {
    grid-area: lang;
    justify-self: end;
  }
}