.cover {
  min-height: 100%;
  padding-top: 1.2em;
  padding-left: 0.75em;
  padding-right: 0.75em;

  background: $color-light url("../img/bg-noise-300x300.png") repeat;
  overflow: hidden;

  font-family: $text-main; 

  @supports (display: grid) {
    display: grid;
    grid: "title navigation" 2.625em
          "slogan navigation" auto
          "contacts lang" min-content
          / auto max-content;
    grid-gap: 0 1rem;
  }

  &__title {
    grid-area: title;
    margin-bottom: 1.25em;
    margin-left: 0.5em;
  }

  &__slogan {
    grid-area: slogan;
    min-width: 0; // fixes grid overflow
    margin-bottom: 0.25em;
    
    @media (min-width: $mobile) and (min-height: $phablet) {
      align-self: end;
      min-height: 80%;
    }

    @media (min-width: $tablet) {
      align-self: end;
      min-height: 60%;
    }
  }

  &__navbar {
    grid-area: navigation;
    justify-self: end;
    margin-top: 0;
    margin-bottom: 1em;
  }

  &__contacts {
    grid-area: contacts;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2em;
    list-style: none;

    @supports (display: grid) {
      align-self: start;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }

    &link {
      display: inline-block;
      margin-left: 0.5em;
      margin-right: 0.5em;
      margin-top: 0em;
      margin-bottom: 1em;
    }
  }

  &__lang {
    grid-area: lang;
    justify-self: end;
  }
}

// html {
//   background: $color-light url("../img/bg-noise-300x300.png") repeat;
// }

// .cover {
//   max-width: $desktop;
//   margin: 0 auto;
//   background: none;

//   @media (min-width: $desktop) {
//     margin-top: 10vh;
//     min-height: 0;
//     height: 60vh;
//     overflow: visible;
//   }
// }