.main_title {
  font-family: $main-family;
  font-weight: $medium-weight;
  font-size: $font-size;
  color: $main-color;

  &__link {
    text-decoration: none;
    opacity: 1;
    border-bottom: 1.5px solid transparent;
    transition: 
      opacity $mouse-out,
      border-bottom $mouse-out;

    &:hover,
    &:focus { 
      opacity: 0.85;
      border-bottom: 1.5px solid $main-color;
      transition: 
        opacity $mouse-in,
        border-bottom $mouse-in;
    }
  }
}