.main_slogan {
  font-family: $main-family;
  font-size: 5.5rem;
  line-height: 0.9;
  letter-spacing: -0.04em;
  font-weight: $extralight-weight;
  color: $text-color-black;
  word-wrap: break-word;

  // &__dynamic {}
}