.cover {
  height: 100%;
  position: relative;
  padding-top: 1.25em;
  padding-left: 1.25em;

  background: $color-light url("../img/bg-noise-300x300.png") repeat;

  font-family: $main-family; 


  &__title {
    margin-bottom: 1.25em;
  }

  &__slogan {
    margin-bottom: 0.5em;
  }

  &__nav {
    padding: 0;
    list-style: none;
  }

  &__navlink {
    margin-block-start: 0.66em;
    margin-block-end: 0.825em;
  }

  &__contacts {
    padding: 0;
    list-style: none;
  }

  &__contactlink {
    margin: 1em auto;
  }
}