.about {
  position: relative;
  padding-top: 2.4rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 3.2rem;

  &__heading {
    font-family: $text-display;
    font-weight: $medium-weight;
    font-size: 6rem;
    text-transform: uppercase;
    color: $color-main;
    opacity: 0.1;

    position: absolute;
    top: 0;
    left: -1.8rem;
    writing-mode: vertical-lr;
  }

  &__paragraph {
    font-family: $text-content;
    font-weight: $regular-weight;
    font-size: 1rem;
    line-height: 1.6;
    color: $text-color-black;

    padding-left: 0.45rem;
    margin-bottom: 1rem;
    max-width: 32em;

    &:first-of-type {
      font-size: 1.5rem;
      font-weight: $medium-weight;
    }

    @media (min-width: $phablet) {
      padding-left: 1.5rem;
    }
  }
}