.about {
  position: relative;

  &__heading {
    font-family: $text-display;
    font-weight: $medium-weight;
    font-size: 6rem;
    text-transform: uppercase;
    color: $color-main;
    opacity: 0.1;

    position: absolute;
    top: 0;
    left: -1.8rem;
    writing-mode: vertical-lr;
  }

  &__author {
    padding-left: 0.45em;
    max-width: 32em;

    @media (min-width: $phablet) {
      padding-left: 1.5em;
    }

    @media (min-width: $desktop) {
      padding-left: 6.5em;
    }
  }

  &__paragraph {
    position: relative;
    top: 0;
    font-family: $text-content;
    font-weight: $regular-weight;
    font-size: 1rem;
    line-height: 1.6;
    color: $text-color-black;
    cursor: url('../img/cursor/text.svg') 5 11, auto;

    margin-bottom: 1rem;

    &:first-of-type {
      font-size: 1.5rem;
      font-weight: $medium-weight;
    }
  }
}