/* ====== BASE ====== */

html { 
  box-sizing: border-box; 
}
*, 
*:before, 
*:after { 
  box-sizing: inherit; 
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header, 
main, 
footer, 
section, 
article {
  display: block;
}

/* Set Image and Objects to have a max-width of 100% */
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.2;
}