// colors
$main-color:                #4F0586;

$grad-start:                #71028C;
$grad-stop:                 #000C76;

$color-light:               #FFFEFD;

$text-color:                #333333;

// font-family
$main-family:               'IBM Plex Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;

// font-size
$font-size:                 1rem;

// font-weight:
$regular-weight:            400;
$medium-weight:             500;
$bold-weight:               700;

// breakpoints