@mixin gradient-text($start-color, $stop-color) {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background: -webkit-linear-gradient(135deg, $grad-start, $grad-stop);
    background: linear-gradient(135deg, $grad-start, $grad-stop);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    border-image: -webkit-linear-gradient(135deg, $grad-start, $grad-stop);
    border-image: linear-gradient(135deg, $grad-start, $grad-stop);
  }
}